# Day 7 Assignment : Sets

## Exercise Level 1

#### Set

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#### 1. Find the length of the set it_companies

In [2]:
print("Length of IT companies:", len(it_companies))

Length of IT companies: 7


#### 2. Add 'Twitter' to it_companies

In [3]:
it_companies.add('Twitter')
print("Updated IT companies:", it_companies)

Updated IT companies: {'Google', 'Twitter', 'Oracle', 'Microsoft', 'Amazon', 'IBM', 'Apple', 'Facebook'}

#### 3. Insert multiple IT companies at once to the set it_companies

In [4]:
it_companies.update(['LinkedIn', 'Netflix', 'Tesla'])
print("Updated IT companies:", it_companies)

Updated IT companies: {'Twitter', 'Oracle', 'Microsoft', 'Tesla', 'Google', 'IBM', 'Netflix', 'Amazon', 'Apple', 'Facebook', 'LinkedIn'}

#### 4. Remove one of the companies from the set it_companies

In [5]:
it_companies.remove('Tesla')
print("Updated IT companies after removal:", it_companies)

Updated IT companies after removal: {'Twitter', 'Oracle', 'Microsoft', 'Google', 'IBM', 'Netflix', 'Amazon', 'Apple', 'Facebook', 'LinkedIn'}

#### 5. What is the difference between remove and discard?

##### The main difference between remove and discard is that `remove` raises an error if the element is not present, while `discard` does not. Using remove on a non-existent element would raise a KeyError

##### For example:

In [6]:
try:
    it_companies.remove('Tesla')
    print("Updated IT companies after removal:", it_companies)
except KeyError as e:
       print(f"Error: {e}")
       print("Error: 'Tesla' not found in IT companies.")

it_companies.discard('Tesla')
print("Updated IT companies after discard:", it_companies)

Error: 'Tesla'
Error: 'Tesla' not found in IT companies.
Updated IT companies after discard: {'Twitter', 'Oracle', 'Microsoft', 'Google', 'IBM', 'Netflix', 'Amazon', 'Apple', 'Facebook', 'LinkedIn'}

## Exercise Level 2

#### 1. Join A and B

In [7]:
joined_set = A.union(B)
print("Joined set of A and B:", joined_set)

Joined set of A and B: {19, 20, 22, 24, 25, 26, 27, 28}

#### 2. Find A intersection B

In [8]:
intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)

Intersection of A and B: {19, 20, 22, 24, 25, 26}

#### 3. Is A subset of B

In [9]:
is_subset = A.issubset(B)
print("Is A a subset of B:", is_subset)

Is A a subset of B: True

#### 4. Are A and B disjoint sets

In [10]:
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_disjoint)

Are A and B disjoint sets: False


#### 5. Join A with B and B with A

In [11]:
joined_AB = A.union(B)
joined_BA = B.union(A)
print("Joined A with B:", joined_AB)
print("Joined B with A:", joined_BA)

Joined A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joined B with A: {19, 20, 22, 24, 25, 26, 27, 28}

#### 6. What is the symmetric difference between A and B

In [12]:
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

Symmetric difference between A and B: {27, 28}

#### 7. Delete the sets completely

In [13]:
del it_companies
del A
del B

try:
    print(it_companies)
    print(A)
    print(B)

except NameError as e:
    print(f"Error: {e}")
    print("The set does not exist. It might have been deleted.")

Error: name 'it_companies' is not defined
The set does not exist. It might have been deleted.

## Exercise Level 3

#### 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [14]:
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))
print("Is the set larger than the list?", len(age_set) > len(age))

Length of age list: 8
Length of age set: 5
Is the set larger than the list? False

#### 2. Explain the difference between the following data types: string, list, tuple, and set?
##### Strings are immutable sequences of characters, lists are mutable sequences, tuples are immutable sequences, and sets are mutable unordered collections of unique elements.

#### 3. I am a teacher and I love to inspire and teach people.
#### How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [15]:
sentence = "I am a teacher and I love to inspire and teach people."
unique_words = set(sentence.split())
print("Number of unique words:", len(unique_words))

Number of unique words: 10