# Day 15 Assignment : Python Type Errors

### Example 1 : SyntaxError

In [29]:
!python

Python 3.9.18 (main, Sep 11 2023, 13:41:44)
[GCC 11.2.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.
>>>
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyboardInterrupt
>>>

In [30]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world')? (2134528244.py, line 1)

In [31]:
print ('hello world')

hello world

### Example 2 : NameError

In [32]:
print (age)

25

In [33]:
age = 25
print(age)

25

### Example 3 : IndexError

In [34]:
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [35]:
numbers[4]

5

### Example 4 : ModuleNotFoundError

In [36]:
import maths

ModuleNotFoundError: No module named 'maths'

In [37]:
import math

### Example 5 : AttributeError

In [38]:
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [40]:
import math
math.pi

3.141592653589793

### Example 6 : KeyError

In [41]:
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']

'Asab'

In [42]:
users['county']

KeyError: 'county'

In [43]:
users['country']

'Finland'

### Example 7 : TypeError

In [44]:
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
4 + int('3')

7

In [46]:
4 + float('3')

7.0

### Example 8 : ImportError

In [47]:
from math import power

ImportError: cannot import name 'power' from 'math' (/home/ultimate/miniconda3/envs/datascience/lib/python3.9/lib-dynload/math.cpython-39-x86_64-linux-gnu.so)

In [48]:
from math import pow

In [49]:
pow(2,3)

8.0

### Example 9 : ValueError

In [50]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

### Example 10 : ZeroDivisionError

In [51]:
1/0

ZeroDivisionError: division by zero

In [52]:
1/1

1.0